In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('datasets/sgr_fia.csv')

In [7]:
df['CONCEPTO 1'].unique()

array(['INVERSION', ' AHORRO ', ' OTROS ', 'INVERSIÓN', 'AHORRO', 'OTROS',
       'RECAUDO CORRIENTE NO AFORADO /5',
       'INGRESOS CORRIENTES INVERSIÓN /1',
       'RECAUDO CORRIENTE NO AFORADO /3', 'MEDIDAS INVERSIÓN /4',
       'MEDIDAS AHORRO /4'], dtype=object)

In [9]:
df['CONCEPTO 1'].replace("INVERSION", 'INVERSIÓN', inplace=True)

In [12]:
df['CONCEPTO 2'] = df['CONCEPTO 2'].str.strip()
df

,Periodo,CONCEPTO 1,CONCEPTO 2,CONCEPTO 3,CONCEPTO 4,Presupuesto de ley,Instrucción de abono a cuenta
0,2012,INVERSIÓN,Asignaciones Directas,NaN,NaN,"$ 3,001,484,975,576","$ 3,336,589,498,236"
1,2012,INVERSIÓN,Fondo de Desarrollo Regional -FDR - Inversión,NaN,NaN,"$ 778,697,734,879","$ 910,652,961,491"
2,2012,INVERSIÓN,Fondo de Compensación Regional (FCR 60%),NaN,NaN,"$ 860,317,444,449","$ 1,006,103,643,966"
3,2012,INVERSIÓN,Fondo de Compensación Regional (FCR 40%),NaN,NaN,"$ 573,544,962,966","$ 670,735,762,644"
4,2012,INVERSIÓN,Ciencia y Tecnología,NaN,NaN,"$ 869,007,519,645","$ 1,016,266,307,036"
...,...,...,...,...,...,...,...
169,2023-2024,MEDIDAS INVERSIÓN /4,Asignación para la Paz,NaN,Rendimientos financieros 70% Asignación Paz,"923,254,587,623.00","923,254,587,623.00"
170,2023-2024,MEDIDAS INVERSIÓN /4,Asignación para la Paz,NaN,Rendimientos financieros 30% incentivo a la p...,"395,680,537,553.00","395,680,537,553.00"
171,2023-2024,MEDIDAS INVERSIÓN /4,Conservación de las áreas ambientales estratég...,NaN,Mayor recaudo,"1,934,315,575,221.92","1,934,315,575,222.00"
172,2023-2024,MEDIDAS INVERSIÓN /4,Emprendimiento y generación de empleo,NaN,Mayor recaudo,"483,578,893,805.48","483,578,893,805.00"
173,2023-2024,MEDIDAS AHORRO /4,Fondo de Ahorro y Estabilización (FAE),NaN,Mayor Recaudo,"4,352,210,044,249.35","4,352,210,044,249.00"

In [13]:
df['CONCEPTO 2'].unique()

array(['Asignaciones Directas',
       'Fondo de Desarrollo Regional -FDR - Inversión',
       'Fondo de Compensación Regional (FCR 60%)',
       'Fondo de Compensación Regional (FCR 40%)', 'Ciencia y Tecnología',
       'Municipios Rio Magdalena y Canal del Dique', 'FONPET', 'FAE',
       'Fiscalización, Yacimientos y Cartografía', 'Sistema de Monitoreo',
       'Funcionamiento SGR',
       'Fondo de Desarrollo Regional -FDR - Compensaciones',
       'Asignación para la PAZ', 'Asignación para la Inversión Local',
       'Asignación para la Inversión Regional', 'Asignación Ambiental',
       'Asignación para Ciencia, Tecnología e Innovación',
       'Asignación para la Paz',
       'Corporación Autónoma del Rio Grande de la Magdalena',
       'Fondo de Ahorro y Estabilización (FAE)',
       'Fondo Nacional de Pensiones de las Entidades Territoriales (FONPET)',
       'Funcionamiento', 'Fiscalización',
       'Sistema de Seguimiento,  Evaluación y Control (SSEC)', nan,
       'Adición Asignaciones Directas',
       'Municipios Río Magdalena y Canal Dique',
       'Fondo Ahorro Pensional Territorial(FONPET)',
       'Sistema de Seguimiento, Evaluación y Control (SSEC)',
       'Conservación de las áreas ambientales estratégicas',
       'Emprendimiento y generación de empleo'], dtype=object)

In [17]:
df.loc[df['CONCEPTO 2'].str.contains('FONPET').fillna(False), 'CONCEPTO 2'] = 'FONPET'

In [20]:
df.loc[df['CONCEPTO 2'].str.contains('PAZ').fillna(False), 'CONCEPTO 2'] = 'Asignación para la Paz'

In [23]:
df.loc[df['CONCEPTO 2'].str.contains('(SSEC)').fillna(False), 'CONCEPTO 2'] = "Sistema de Seguimiento, Evaluación y Control (SSEC)"

/var/folders/rd/zs4xvzqn0qqds7psf6_1f74m0000gn/T/ipykernel_27832/2947433318.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df.loc[df['CONCEPTO 2'].str.contains('(SSEC)').fillna(False), 'CONCEPTO 2'] = "Sistema de Seguimiento, Evaluación y Control (SSEC)"

In [26]:
df.loc[df['CONCEPTO 2'].str.contains('FAE').fillna(False), 'CONCEPTO 2'] = "FAE"

In [29]:
df.loc[df['CONCEPTO 2'].str.contains('Dique').fillna(False), 'CONCEPTO 2'] = "Municipios Rio Magdalena y Canal del Dique"

In [33]:
df.loc[df['CONCEPTO 2'].str.contains('Funcionamiento').fillna(False), 'CONCEPTO 2'] = "Funcionamiento"

In [43]:
df['CONCEPTO 1'] = df['CONCEPTO 1'].str.strip()

In [46]:
df['CONCEPTO 1'].unique()

array(['INVERSIÓN', 'AHORRO', 'OTROS', 'RECAUDO CORRIENTE NO AFORADO /5',
       'INGRESOS CORRIENTES INVERSIÓN /1',
       'RECAUDO CORRIENTE NO AFORADO /3', 'MEDIDAS INVERSIÓN /4',
       'MEDIDAS AHORRO /4'], dtype=object)

In [62]:
df['Instrucción de abono a cuenta'] = df['Instrucción de abono a cuenta'].str.replace("$", "").str.replace(",", "").str.strip().astype(float)

In [64]:
df.to_csv('datasets/sgr_fia.csv', index=False)

In [65]:
df2 = pd.read_csv('datasets/sgr_func.csv')

In [70]:
df2['Beneficiario'] = df2['Beneficiario'].str.strip()

In [71]:
df2['Beneficiario 2'] = df2['Beneficiario 2'].str.strip()

In [79]:
df2['Beneficiario 2'] = df2['Beneficiario 2'].str.split(".").str[-1].str.strip()

In [82]:
df2.columns = df2.columns.str.strip()

In [88]:
df2['Apropiación vigente disponible'] = df2['Apropiación vigente disponible'].str.strip().str.replace("$", "").str.replace(",", "").astype(int)
df2['Caja total'] = df2['Caja total'].str.strip().str.replace("$", "").str.replace(",", "").astype(int)

In [93]:
df2['Periodo'] = df2['Periodo'].str.replace("$", "").str.replace(",", "").str.strip()

In [95]:
df2.to_csv('datasets/sgr_func.csv', index=False)

In [96]:
df2

,Beneficiario,Beneficiario 2,Apropiación vigente disponible,Caja total,Periodo
0,Órganos SGR,DNP,6700000000,6700000000,2012
1,Órganos SGR,Comisión Rectora - DNP,300000000,300000000,2012
2,Órganos SGR,Ministerio de Hacienda y Crédito Público,6500000000,6500000000,2012
3,Órganos SGR,Ministerio de Ciencia Tecnología e Innovación,6500000000,6500000000,2012
4,ST de los OCAD - Pueblos y Comunidades Étnicas,Municipales,52375000000,52375000000,2012
...,...,...,...,...,...
176,Otras entidades y conceptos,Autoridad Nacional de Licencias Ambientales,31514021956,28251935870,2023-2024
177,Otras entidades y conceptos,Empresa Promotora del Desarrollo Territorial,6326511590,6326511590,2023-2024
178,Otras entidades y conceptos,Incentivo a la Producción - MME,33203540545,33203540545,2023-2024
179,Otras entidades y conceptos,Ministerio del Interior,1058901663,1058901663,2023-2024
180,Otras entidades y conceptos,Recursos por distribuir,58803405915,53162210158,2023-2024

In [132]:
df3 = pd.read_csv('datasets/sgr_miner.csv')

In [106]:
df3.to_csv('datasets/sgr_miner.csv', index=False)

In [ ]:
df3.drop(columns=['Tipo Recurso Natural', 'Periodicidad', ''])

In [133]:
df3.rename(columns={'Nombre Municipio': 'Municipio',
                    'Nombre Departamento': 'Departamento'}, inplace=True)

In [134]:
df3['Año Liquidado'].unique()

array([2023., 2024., 2018., 2014., 2022., 2012., 2019., 2013., 2015.,
       2016., 2017., 2020., 2021.])

In [145]:
dic_ans = {2012: "2012",
2013: "2013-2014",
2014: "2013-2014",
2015: "2015-2016",
2016: "2015-2016",
2017: "2017-2018",
2018: "2017-2018",
2019: "2019-2020",
2020: "2019-2020",
2021: "2021-2022",
2022: "2021-2022",
2023: "2023-2024",
2024: "2023-2024"}

df3['Periodo'] = df3['Año Liquidado'].astype(int).map(dic_ans)

In [146]:
df3['Periodo'].unique()

array(['2023-2024', '2017-2018', '2013-2014', '2021-2022', '2012',
       '2019-2020', '2015-2016'], dtype=object)

In [137]:
df3['Contraprestación'] = df3['Contraprestación'].str.strip()

In [140]:
df3['Regalías causadas'] = pd.to_numeric(df3['Regalías causadas'].str.replace(",", ""), errors='coerce')

In [139]:
df3.columns = df3.columns.str.strip()

In [152]:
t = df3.groupby(['Código DANE', "Municipio", "Departamento", "clasificacion", "Recurso Natural", "min agrupado", "Periodo"])['Regalías causadas'].sum().reset_index()#

In [155]:
t['Regalías causadas %'] = t['Regalías causadas'] / t['Regalías causadas'].sum()

In [156]:
t.to_csv('datasets/sgr_miner_2.csv', index=False)

In [8]:
import pandas as pd

df4 = pd.read_csv('datasets/sgr_hidroc.csv')

In [9]:
for col in df4.columns:
    try:
        df4[col] = df4[col].str.replace(",", "").astype(float)
    except:
        print(f"Error en {col}")

Error en VIGENCIA
FISCAL
Error en Periodo

In [10]:
df4.to_csv('datasets/sgr_hidroc.csv', index=False)

In [12]:
df3 = pd.read_csv('datasets/sgr_miner_2.csv')

In [20]:
t1 = df3.groupby('Periodo')['Regalías causadas'].sum().reset_index()

In [16]:
df4['Total Recaudo Hidrocarburos'] = df4['RECAUDO POR GAS\n$COP'] + df4['RECAUDO POR CRUDO (ESPECIE Y MONETIZADO) $COP']

In [39]:
df4[["Gas %", "Petróleo %"]] = df4[['RECAUDO POR GAS\n$COP', 'RECAUDO POR CRUDO (ESPECIE Y MONETIZADO) $COP']].div(df4['Total Recaudo Hidrocarburos'], axis=0)

In [46]:
t = (df4
 .groupby('Periodo')[['RECAUDO POR GAS\n$COP', 
                      'RECAUDO POR CRUDO (ESPECIE Y MONETIZADO) $COP']]
 .sum()
 .assign(total= lambda x: x[['RECAUDO POR GAS\n$COP', 
                      'RECAUDO POR CRUDO (ESPECIE Y MONETIZADO) $COP']].sum(axis=1)))

t[['RECAUDO POR GAS\n$COP','RECAUDO POR CRUDO (ESPECIE Y MONETIZADO) $COP']].div(t['total'], axis=0)

,RECAUDO POR GAS\n$COP,RECAUDO POR CRUDO (ESPECIE Y MONETIZADO) $COP
Periodo,,
2012,0.031696,0.968304
2013-2014,0.083847,0.916153
2015-2016,0.182427,0.817573
2017-2018,0.115360,0.884640
2019-2020,0.160383,0.839617
2021-2022,0.129381,0.870619
2023-2024,0.147697,0.852303

In [40]:
df4.to_csv('datasets/sgr_hidroc.csv', index=False)

In [19]:
t2 = df4.groupby('Periodo')['Total Recaudo Hidrocarburos'].sum().reset_index()

In [24]:
tot = t1.merge(t2, on='Periodo').set_index('Periodo')

In [31]:
tot[["Minería %", "Hidrocarburos %"]] = tot[['Regalías causadas', 'Total Recaudo Hidrocarburos']] / tot[['Regalías causadas', 'Total Recaudo Hidrocarburos']].sum(axis=1)

ValueError: Columns must be same length as key

In [35]:
tot[["Minería %", "Hidrocarburos %"]] = tot[['Regalías causadas', 'Total Recaudo Hidrocarburos']].div(tot[['Regalías causadas', 'Total Recaudo Hidrocarburos']].sum(axis=1), axis=0)

In [37]:
tot.to_csv('datasets/sgr_regal_tot.csv')